<div class="flex flex-1 mt-12 lg:mt-48 justify-center items-center">
  <div class="w-100 md:w-96 border-2 border-indigo-200 rounded-lg p-6 bg-white">
    <ng-container *ngIf="!(willRedirect$$ | async); else redirecting">
      <h2 class="text-xl">
        {{ 'register.header' | translate }}
      </h2>
      <div class="h-0.5 w-full my-4 bg-neutral-300 box-border"></div>
      <div class="relative">
        <app-registration-form [loading]="(loading$ | async) === true"
          (formSubmit)="register($event)"></app-registration-form>
        <ng-container *ngIf="error$ | async as error">
          <app-registration-field-error [errors]="error ? [error] : undefined"></app-registration-field-error>
        </ng-container>

      </div>
    </ng-container>

    <ng-template #redirecting>
      <div class="h-60 flex items-center text-center">
        {{ 'register.success' | translate }}
      </div>
    </ng-template>
  </div>

</div>
